<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.huimai.page"/>
    <bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://192.168.188.129:61616"/>
    </bean>
    <bean id="singleConnectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="targetConnectionFactory" ref="activeMQConnectionFactory"/>
    </bean>
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="singleConnectionFactory"/>
    </bean>

    <!--声明接收，审核通过的消息，主题-->
<bean id="dongyimai_topic_page" class="org.apache.activemq.command.ActiveMQTopic">
    <constructor-arg value="dongyimai_topic_page"/>
</bean>

    <!--声明接收删除消息的主题-->
<bean id="dongyimai_topic_page_delete" class="org.apache.activemq.command.ActiveMQTopic">
    <constructor-arg value="dongyimai_topic_page_delete"/>
</bean>
    <!--配置消息监听容器，监听传递商品审核通过的消息主题-->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="singleConnectionFactory"/>
        <property name="destination" ref="dongyimai_topic_page"/>
        <property name="messageListener" ref="pageListener"/>
    </bean>

    <!--配置消息监听容器，监听传递商品删除的消息主题-->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="singleConnectionFactory"/>
        <property name="destination" ref="dongyimai_topic_page_delete"/>
        <property name="messageListener" ref="pageDeleteListener"/>
    </bean>

</beans>